.DS_Store
*.swp
*.swo
*.pyc
*.rdb
.idea/
webapp/php/vendor
bench/isucon7q-initial-dataset.sql.gz
bench/result.json
webapp/perl/local

*.log
webapp/public/results
db/sql/*.gz
webapp/public/icons
webapp/go/src/isubata
webapp/go/tmp/main


