[Unit]
Description = isucon7 qualifier main application in golang

[Service]
WorkingDirectory=/home/webservice/isucon7-qualify/webapp/go/
EnvironmentFile=/home/webservice/isucon7-qualify/env.sh

ExecStart = /home/webservice/isucon7-qualify/webapp/go/isubata


Restart   = always
Type      = simple
User      = webservice
Group     = webservice

[Install]
WantedBy = multi-user.target
