[Unit]
Description = isucon7 qualifier main application in golang

[Service]
WorkingDirectory=/home/webservice/isucon7-qualify/webapp/go/
EnvironmentFile=/home/webservice/isucon7-qualify/env.sh

ExecStart = /home/isucon/isubata/webapp/go/isubata
/home/webservice/isucon7-qualify/webapp/go/isubata


Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
